[run]
branch = true

[report]
omit =
    *site-packages*
    *tests*
    *.tox*
    *manage.py*
    *setup.py*
    *viewsets.py*
    *permissions.py*
    *serializers.py*
    *api_urls.py*
    *api.py*
show_missing = True
exclude_lines =
    raise NotImplementedError
    pragma: no cover 
